* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}

.container {
  width: 100%;
  height: 100vh;
  background: hsl(217, 54%, 11%);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-card {
  background: hsl(216, 50%, 16%);
  width: 350px;
  text-align: left;
  border-radius: 20px;
}

.nft-img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  bottom: 10px;
  right: 10px;
  margin: 23px;
  position: relative;
}

.icon-view {
  opacity: 0;
  position: absolute;
  top: 127px;
  left: 127px;
}

.overlay {
  position: absolute;
  opacity: 0;
  height: 300px;
  width: 300px;
  top: 13px;
  left: 13px;
  border-radius: 10px;
  transition: 0.5s ease;
  background-color: hsla(178, 100%, 50%, 0.5);
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay:hover .icon-view{
  opacity: 1;
}

.heading h1 {
  color: hsl(0, 0%, 100%);
  padding: 10px 23px 20px;
  font-size: 1.4rem;
  font-weight: 600;
}

.heading p {
  color: hsl(215, 51%, 70%);
  padding: 0 23px;
  font-size: 1.1rem;
  font-weight: 300;
}

.icon {
  padding-right: 5px;
}

.price {
  display: inline-flex;
  padding: 25px 30% 30px 23px;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.countdown {
  display: inline-flex;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

hr {
  width: 85%;
  margin: auto;
  border: 0.5px solid hsl(215, 32%, 27%);
}

.author {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 35px;
}

.author img {
  width: 10%;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
}

.author p {
  padding-left: 18px;
  padding-top: 5px;
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
  font-weight: 300;
}

.author-name {
  color: hsl(0, 0%, 100%);
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
